<div id="categories-sidebar">
     <p>カテゴリ一覧</p>
     <ul class="categories-sidebar-box">
     {% for tag in blog.all_tags %}
      <li>{{ tag | link_to_tag: tag }}</li>
     {% endfor %}
     </ul>
</div>